/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

body {
  background: #36465d;
  color: #fff;
  font-family: sans-serif;
}

input {
  background: #fff;
  color: #000;
}

.header-link h1 {
  font-size: 65px;
  /*font-family: 'Alba';*/
  padding: 350px 0px 10px 0px;
  text-align: center;
}

.login-signup {
  text-align: center;
}

@font-face {
  font-family: 'Alba';
  src: url('../fonts/ALBA___.ttf');
}
