/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

 .group:after {
  content: "";
  clear: both;
  display: block;
}

/*https://static.pexels.com/photos/5439/earth-space.jpg
https://static.pexels.com/photos/3853/sunny-sand-desert-hiking.jpeg
https://static.pexels.com/photos/3247/nature-forest-industry-rails.jpg
https://static.pexels.com/photos/6778/landscape-mountains-skyline-metal.jpg
https://upload.wikimedia.org/wikipedia/commons/2/2a/Mission_Mountains_National_Bison_Range_Montana.jpg*/

body {
  box-sizing: content-box;
  background: url("https://static.pexels.com/photos/5439/earth-space.jpg") no-repeat center center fixed;
  /*background: #36465d;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
}

input {
  background: #fff;
  color: #000;
}

button {
  cursor: pointer;
}

#session-close {
  /*border: 1px solid blue;*/
  float: right;
  margin: 10px;
}

#session-header {
  font-size: 26px;
  color: black;
  /*border: 1px solid red;*/
  text-align: center;
}

.header-link h1 {
  font-size: 85px;
  font-weight: bold;
  text-align: center;
  margin: 40px 40px 5px 40px;
  /*border: 3px solid red;*/
}

.login-signup {
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  margin: 0 0 40px 0;
  /*border: 3px solid purple;*/
}

.front-page-link {
  /*margin: 5px;*/
}

.front-page-link:hover {
  cursor:pointer;
  /*font-weight: bold;*/
  color: #aaa;
}

.dashboard {
  /*background: #36465d;*/
  position: absolute;
  font-family: sans-serif;
  font-size: 18px;
  color: #000;
  width: 1010px;
  min-height: 1000px;
  margin: 0 auto;
  font-weight: normal;
  border-left: 2px solid black;
  border-right: 2px solid black;
  left: 7%;
  right: 7%;
}


.author-image {
  float: left;
  height: 58px;
  width: 58px;
  margin: 20px 0 20px 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.author-image:hover {
  cursor: pointer;
  border: 2px solid blue;
}

.post {
  clear: both;
}

.post-body {
  float: left;
  margin: 20px;
  padding: 15px 20px 20px 20px;
  width: 500px;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.85);
}

.post-author-section {
  display: block;
  padding: 0 0 10px 0;
  /*border: 1px solid purple;*/
}

.post-author-section:after {
  content: ""; /* Empty content string */
  display: block; /* Only block elements can clear */
  clear: both;
}

.post-author-name {
  font-weight: bold;
  font-size: 20px;
  float: left;
  /*border: 1px solid red;*/
  /*padding: 0 0 10px 0;*/
}

.post-author-name:hover {
  cursor: pointer;
  color: blue;
}

.post-header-unfollow {
  font-weight: lighter;
  font-size: 15px;
  float: right;
  /*border: 1px solid green;*/
  padding: 3px 0px;
}

.post-header-unfollow:hover {
  cursor: pointer;
  color: green;
}

.post-body h1 {
  /*border: 1px solid blue;*/
  font-size: 28px;
  font-weight: bold;
}

.post-body p {
  margin: 10px 0px;
  /*border: 1px solid red;*/
}

.post-body img {
  border: 1px solid black;
  width: 500px;
}

.post-notes {
  font-size: 14px;
  float: left;
  color: #777;
  margin-top: 10px;
}

.post-footer-icons {
  margin-top: 15px;
}

.post-commentary {
  font-style: italic;
  font-size: 14px;
}


/*Note -- the height thing below is a hack!! Need to figure out how to make it
fill the page height automatically!*/

.front-page {
  background: url("https://static.pexels.com/photos/6778/landscape-mountains-skyline-metal.jpg") no-repeat center center fixed;
}

.splash-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  /*border: 3px solid green;*/
}

.splash-pane {
  flex: none;
  border: 5px solid black;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
};

.login-form-parent {
  /*why does having this make everything work even though I'm not doing anything with it????*/
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
}

/*.login-form-box {
  flex: none;
  border: 5px solid black;
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
}*/


.login-form-box {
  width: 300px;
  height: 220px;
  flex: none;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  padding: 50px;
}

.login-close {
  float: right;
  color: #aaa;
  font-size: 20px;
}

.login-close:hover {
  color: black;
}

.login-form-header {
  margin-bottom: 5px;
}

.login-form-header h1 {
  color: #555;
  font-size: 22px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.login-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 290px;
  font-weight: normal;
}

.login-label {
  font-weight: normal;
  color: #777;
}

.login-button {
  background: #fff;
  padding: 5px 10px;
  border: 3px solid #ccc;
  border-top: 0px solid #ccc;
  border-left: 0px solid #ccc;
  border-radius: 5px;
  color: #777;
}

.login-button:hover {
  color: blue;
  cursor: pointer;
  border: 1px solid #ccc;
}

.login-errors {
  font-weight: normal;
  font-size: 14px;
  color: #555;
  list-style: none;
}

.post-form-nav {
  float: left;
  margin: 20px 20px 20px 102px;
  padding: 15px 15px;
  width: 510px;
  height: 80px;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.post-form-link {
  font-size: 52px;
  float: left;
  border-left: 1px solid #aaa;
  padding: 5px 13px;
  /*border: 1px solid red;*/
}

.post-form-link:first-child {
  border-left: 0px solid black;
  padding-left: 1px;
}

.post-form-link:last-child {
  padding-right: 0px;
}

.num-likes {
  float: right;
  padding: 0 0 0 15px;
}

.fa-button {
  float: right;
  padding: 0 0 0 15px;
}

.fa-button:hover {
  color: red;
}

.sidebar-all {
  float: right;
  width: 300px;
  margin: 20px;
  /*border: 1px solid purple;*/
}

.sidebar-all h1 {
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.4);
  width: 295px;
  /*border: 1px solid #aaa;*/
  border: 2px solid black;
  border-radius: 5px;
}

.sidebar {
  /*border: 2px solid black;*/
  /*background: rgba(255, 255, 255, 0.4);*/
  font-size: 14px;
  /*padding: 15px;*/
}

.sidebar-users {
  clear: both;
  float: left;
  width: 295px;
  background: rgba(255, 255, 255, 0.4);
  padding: 5px;
  border-left: 2px solid black;
  border-right: 2px solid black;

}

.sidebar-users:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 2px solid black;
}

.sidebar-users:last-child {
  border-bottom: 2px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.posts {
  float: left;
}

.sidebar-pic {
  float: left;
  height: 45px;
  width: 45px;
  margin: 5px 0 5px 5px;
  border: 2px solid black;
  border-radius: 5px;
  clear: right;
}

.sidebar-pic:hover {
  cursor: pointer;
  border: 2px solid blue;
}

.follow-button {
  margin: 15px 3px;
  float: right;
  /*background: rgba(255, 255, 255, 0.85);
  padding: 0 2px;*/
}

.follow-button:hover {
  color: blue;
  /*font-size: 15px;*/
}

.follow-text {
  /*display: block;*/
  /*border: 1px solid red;*/
  font-weight: lighter;
  font-size: 14px;
}

.follow-text:hover {
  cursor: pointer;
  color: green;
}

.sidebar-users-2 {
  margin: 15px 10px;
  float: left;
  display: block;
}

.sidebar-username {
  font-weight: bold;
  font-size: 16px;
  /*border: 1px solid green;*/
}

.sidebar-username:hover {
  color: blue;
  cursor: pointer;
}

.new-post-container {
  margin: 200px;
}

.new-post-box {
  background: rgba(255, 255, 255, 0.85);
  border: 2px solid black;
  width: 500px;
  margin: 0 auto;
  color: black;
  padding: 20px;
}

.post-form-main {
  /*background: #36465d;*/
  position: absolute;
  font-family: sans-serif;
  font-size: 18px;
  color: #000;
  width: 1010px;
  min-height: 1000px;
  margin: 0 auto;
  font-weight: normal;
  border-left: 2px solid black;
  border-right: 2px solid black;
  left: 7%;
  right: 7%;
}

.post-form-link div {
  font-size: 14px;
  text-align: center;
  color: black;
}

.post-form-link .fa:hover {
	cursor:pointer;
  margin-top: 5px;
}

.post-form {
  float: left;
  margin: 20px 20px 20px 102px;
  padding: 15px 15px;
  width: 514px;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.85);
  /*background: rgba(54, 70, 93, 1);*/
}

.post-form label {
  float: left;
  clear: right;
  /*color: #777;*/
  color: #888;
  padding: 5px 0;
  font-size: 16px;
  /*border: 1px solid red;*/
}

.post-form img {
  max-width: 500px;
}

.new-post-header {
  font-size: 25px;
  /*font-weight: bold;*/
  color: #777;
  /*color: #ccc;*/
  /*border: 1px solid purple;*/
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #aaa;
}

.new-post-input-text {
  border: 1px solid #aaa;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  /*height: 300px;*/
  width: 500px;
  height: 30px;
  padding: 5px;
}

.new-post-input-textarea {
  border: 1px solid #aaa;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  font-size: 14px;
  /*height: 300px;*/
  width: 500px;
  height: 100px;
  padding: 5px;
}
.new-post-input-file {
  border: 1px solid #aaa;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  font-size: 14px;
  /*height: 300px;*/
  width: 500px;
  /*height: 15px;*/
  /*padding: 5px;*/
}

.new-post-submit {
  border: 1px solid #aaa;
  background: #ddd;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

.new-post-submit:hover {
  cursor:pointer;
}

.link-post:hover {
  color: blue;
}

.header {
  /*background: #36465d;*/
  /*color: rgba(255, 255, 255, 0.35);*/
  color: #000;
  margin: 0 auto;
  padding: 10px;
  border-bottom: 2px solid black;
  /*border: 1px solid purple;*/
  height: 34px;
}

.header-greeting-group {
  float: left;
  /*border: 1px solid orange;*/
}

.header-name {
  float: right;
  padding: 10px;
  /*border: 1px solid blue;*/
}

.header-button {
  float: right;
  font-size: 40px;
  /*border: 1px solid green;*/
}

.header-button:hover {
  color: blue;
  /*color: blue;*/
}

.user-avatar {
  width: 30px;
  height: 30px;
  float: left;
  border: 2px solid black;
  border-radius: 5px;
}

.user-avatar:hover {
  cursor: pointer;
  border: 2px solid blue;
}
